/* GENERALS */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: linear-gradient(
  #009688 13%,
  #d9dbd4 13%
  );
  font-family: 'Open Sans', sans-serif;
}

.container{
  width: 70%;
  min-height: 700px;
  height: 20px;
  /* background-color: red; */
  margin: auto;
}

/* UTILITIES */

.d-flex{
  display: flex;
}

.justify-content-end{
  justify-content: flex-end;
}

.justify-content-space-between{
  justify-content: space-between;
}

.align-items{
  align-items: center;
}

.flex-direction{
  flex-direction: column;
}
/* STRUCTURE */

#structure{
  margin-top: 20px;
  
}
.left{
  width: 30%;
  background-color: #ffffff;
}

.right{
  width: 70%;
  background-image: url(../img/mine.jpg);
}

img{
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

/* LEFT */
/* USER ACCOUNT */
.user-account{
  background-color: #eaeaea;
}

.user-image-name span{
  vertical-align: 100%;
  font-size: 0.7rem;
}

.user-image-name :first-child{
  margin: 5px 0px 5px 5px;
}

.button-user-account i{
  padding: 5px;
  color: #b1b1b1;
}
.button-user-account :last-child{
  padding-right: 18px;
}

/* PUSH NOTIFICATIONS */
.push-notifications{
  background-color: #8edafc;
  padding: 10px;
}

.push-notifications i{
  padding: 10px;
  font-size: 15px;
  border-radius: 50%;
  color: #8edafc;
  background-color: #f2fbff;
}

.push-notifications span{
  font-size: 10px;
  color: #6093a4;
  text-decoration: underline;
  vertical-align: top;
}

.push-notifications .text-off-notifications{
  display: inline-block;
  padding-left: 10px;
}

/* SEARCH BAR */
.search-bar{
  background-color: #fafafa;
  padding: 5px;
}

.search-bar button,
.search-bar input{
  padding: 5px 20px;
  border: none;
  background-color: #ffffff;
}

.search-bar button i{
  font-size: 14px;
}

.search-bar button{
  float: left;
  margin-right: 1px;
}
.search-bar input{
  font-size: 11px;
  width: 83%;
}

/* CHAT USERS */
.chat-users{
  height: 600px;
  overflow-y: scroll;
}

.card-user{
  background-color: #ffffff;
  padding: 5px 10px;
  margin-bottom: 1px;
  border-bottom: 1px solid #f9f9f9;
}

.image-card img{
  width: 50px;
}

.name-card{
  padding-left: 20px;
}
.grey{
  color: #bbc1cf;
  font-size: 0.7rem;
}
.time span{
  color: #6b7376;
  font-size: 0.5rem;
}

.card-user:hover{
  background-color: #e9ebeb;
  cursor: pointer;
}
/* RIGHT */
/* LAST CHAT */

.right .last-chat{
  background-color: #eaeaea;
  margin-left: 1px;
}



/* CHAT */
.container-chat{
  background-color: rgba(255, 0, 0, 0);
  height: ;
  margin: 40px auto;
  width: 85%;
}


.right .chat{
  background-image: url(/milestone-1/assets/img/mine.jpg);height: 650px;
  overflow-y: scroll;
}
.right .chat .my-messages{
  text-align: right;
}

.right .chat .my-messages .my-messages-sent{
  background-color: #d5f9ba;
  padding: 10px 100px 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.right .chat .user-messages .user-messages-sent{
  background-color: #ffffff;
  padding: 10px 100px 10px 10px;
  border-radius: 10px;
  margin-bottom: 10px;

}



/* WRITING BAR */
.writing-bar{
  background-color: #f3eeea;
  margin-left: 1px;
}

.writing-bar .button-user-account{
  align-items: center;
}

.writing-bar .button-user-account I{
  font-size: 20px;
  padding: 10px 30px;
  color: #6b7376;
}

.writing-bar .button-user-account input{
  width: 750px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

